{
  "openapi": "3.1.0",
  "info": {
    "description": "This page describes the format for the current Hangar REST API as well as general usage guidelines.<br>\nNote that all routes **not** listed here should be considered **internal**, and can change at a moment's notice. **Do not use them**.\n\n## Authentication and Authorization\nThere are two ways to consume the API: Authenticated or anonymous.\n\n### Anonymous\nWhen using anonymous authentication, you only have access to public information, but you don't need to worry about creating and storing an API key or handing JWTs.\n\n### Authenticated\nIf you need access to non-public content or actions, you need to create and use API keys.\nThese can be created by going to the API keys page via the profile dropdown or by going to your user page and clicking on the key icon.\n\nAPI keys allow you to impersonate yourself, so they should be handled like passwords. **Do not share them with anyone else!**\n\n#### Getting and Using a JWT\nOnce you have an API key, you need to authenticate yourself: Send a `POST` request with your API key identifier to `/api/v1/authenticate?apiKey=yourKey`.\nThe response will contain your JWT as well as an expiration time.\nPut this JWT into the `Authorization` header of every request and make sure to request a new JWT after the expiration time has passed.\n\nPlease also set a meaningful `User-Agent` header. This allows us to better identify loads and needs for potentially new endpoints.\n\n## Misc\n### Date Formats\nStandard ISO types. Where possible, we use the [OpenAPI format modifier](https://swagger.io/docs/specification/data-models/data-types/#format).\n\n### Rate Limits and Caching\nThe default rate limit is set at 20 requests every 5 seconds with an initial overdraft for extra leniency.\nIndividual endpoints, such as version creation, may have stricter rate limiting.\n\nIf applicable, always cache responses. The Hangar API itself is cached by CloudFlare and internally.",
    "title": "Hangar API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://hangar.papermc.io",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/.well-known/change-password": {
      "get": {
        "operationId": "changePassword",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "well-known-controller"
        ]
      }
    },
    "/.well-known/security.txt": {
      "get": {
        "operationId": "security",
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "well-known-controller"
        ]
      }
    },
    "/api": {
      "get": {
        "operationId": "apiRootRedirect",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "application-controller"
        ]
      }
    },
    "/api/internal/admin/activity/{user}/flags": {
      "get": {
        "operationId": "getFlagActivity",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FlagActivity"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-activity-controller"
        ]
      }
    },
    "/api/internal/admin/activity/{user}/reviews": {
      "get": {
        "operationId": "getReviewActivity",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReviewActivity"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-activity-controller"
        ]
      }
    },
    "/api/internal/admin/approval/projectneedingapproval": {
      "get": {
        "operationId": "getProjectApprovalQueueSize",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-approval-controller"
        ]
      }
    },
    "/api/internal/admin/approval/projects": {
      "get": {
        "operationId": "getProjectApprovals",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectApprovals"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-approval-controller"
        ]
      }
    },
    "/api/internal/admin/approval/versions": {
      "get": {
        "operationId": "getReviewQueue",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewQueue"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-approval-controller"
        ]
      }
    },
    "/api/internal/admin/approval/versionsneedingapproval": {
      "get": {
        "operationId": "getVersionApprovalQueueSize",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-approval-controller"
        ]
      }
    },
    "/api/internal/admin/fixAvatars": {
      "post": {
        "operationId": "fixAvatarUrls",
        "parameters": [
          {
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/lock-user/{user}": {
      "post": {
        "operationId": "setUserLock",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "locked",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "toggleProjectDeletion",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/log": {
      "get": {
        "operationId": "getActionLog",
        "parameters": [
          {
            "description": "Used to sort the result",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "time"
              ]
            },
            "style": "form"
          },
          {
            "description": "Filters by log action",
            "in": "query",
            "name": "logAction",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters logs to a date range, both bounds inclusive",
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters logs to a date range, both bounds inclusive",
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters based on a project page",
            "in": "query",
            "name": "pageId",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters logs by a project namespace",
            "in": "query",
            "name": "projectSlug",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters logs by a project namespace",
            "in": "query",
            "name": "authorName",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters by subject name, usually a user action where the subject name is the user the action is about, not the user that performed the action",
            "in": "query",
            "name": "subjectName",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "The user whose action created the log entry",
            "in": "query",
            "name": "user",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters logs based on a version string and platform",
            "in": "query",
            "name": "platform",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters logs based on a version string and platform",
            "in": "query",
            "name": "versionString",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "The maximum amount of items to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1",
              "maximum": 25,
              "minimum": 1
            },
            "style": "form"
          },
          {
            "description": "Where to start searching",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0",
              "minimum": 0
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultHangarLoggedAction"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/roles": {
      "post": {
        "operationId": "changeRoles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChangeRoleForm"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/scanSafeLinks": {
      "post": {
        "operationId": "approveVersionsWithSafeLinks",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/stats": {
      "get": {
        "operationId": "getStats",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DayStats"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/stats/summary": {
      "get": {
        "operationId": "getStatsSummary",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSummary"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/updateHashes": {
      "post": {
        "operationId": "updateHashes",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/user/{user}/rename": {
      "post": {
        "operationId": "renameUser",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/user/{user}/{role}": {
      "delete": {
        "operationId": "removeRole",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      },
      "post": {
        "operationId": "addRole",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/admin/yeet/{user}": {
      "post": {
        "operationId": "yeetusDeletus",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "admin-controller"
        ]
      }
    },
    "/api/internal/api-keys/check-key/{user}": {
      "get": {
        "operationId": "checkKeyName",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "api-key-controller"
        ]
      }
    },
    "/api/internal/api-keys/create-key/{user}": {
      "post": {
        "operationId": "createApiKey",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "api-key-controller"
        ]
      }
    },
    "/api/internal/api-keys/delete-key/{user}": {
      "post": {
        "operationId": "deleteApiKey",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "api-key-controller"
        ]
      }
    },
    "/api/internal/api-keys/existing-keys/{user}": {
      "get": {
        "operationId": "getApiKeys",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "api-key-controller"
        ]
      }
    },
    "/api/internal/api-keys/possible-perms/{user}": {
      "get": {
        "operationId": "getPossiblePermissions",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedPermission"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "api-key-controller"
        ]
      }
    },
    "/api/internal/api-keys/possible-projects/{user}": {
      "get": {
        "operationId": "getPossibleProjects",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScopableProject"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "api-key-controller"
        ]
      }
    },
    "/api/internal/auth/account": {
      "post": {
        "operationId": "saveAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "auth-controller"
        ]
      }
    },
    "/api/internal/auth/account/delete": {
      "post": {
        "operationId": "requestAccountDeletion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "auth-controller"
        ]
      }
    },
    "/api/internal/auth/account/delete/cancel": {
      "post": {
        "operationId": "cancelAccountDeletion",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "auth-controller"
        ]
      }
    },
    "/api/internal/auth/codes/regenerate": {
      "post": {
        "operationId": "regenerateBackupCodes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackupCode"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/codes/show": {
      "post": {
        "operationId": "showBackupCodes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackupCode"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/email/send": {
      "post": {
        "operationId": "sendEmailCode",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/email/verify": {
      "post": {
        "operationId": "verifyEmail",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/invalidate": {
      "get": {
        "operationId": "invalidateRefreshToken",
        "parameters": [
          {
            "in": "cookie",
            "name": "HangarAuth_REFRESH",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "auth-controller"
        ]
      }
    },
    "/api/internal/auth/login/backup": {
      "post": {
        "operationId": "loginBackup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginBackupForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "login-controller"
        ]
      }
    },
    "/api/internal/auth/login/password": {
      "post": {
        "operationId": "loginPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginPasswordForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "login-controller"
        ]
      }
    },
    "/api/internal/auth/login/sudo": {
      "post": {
        "operationId": "loginSudo",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "login-controller"
        ]
      }
    },
    "/api/internal/auth/login/totp": {
      "post": {
        "operationId": "loginTotp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginTotpForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "login-controller"
        ]
      }
    },
    "/api/internal/auth/login/webauthn": {
      "post": {
        "operationId": "loginWebAuthN",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWebAuthNForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "login-controller"
        ]
      }
    },
    "/api/internal/auth/logout": {
      "get": {
        "operationId": "loggedOut",
        "parameters": [
          {
            "in": "cookie",
            "name": "HangarAuth_REFRESH",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "auth-controller"
        ]
      }
    },
    "/api/internal/auth/refresh": {
      "get": {
        "operationId": "refreshAccessToken",
        "parameters": [
          {
            "in": "cookie",
            "name": "HangarAuth_REFRESH",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auth-controller"
        ]
      }
    },
    "/api/internal/auth/reset/send": {
      "post": {
        "operationId": "sendResetMail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/reset/set": {
      "post": {
        "operationId": "setNewPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/reset/verify": {
      "post": {
        "operationId": "verifyResetCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/settings": {
      "post": {
        "operationId": "settings",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingsResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auth-controller"
        ]
      }
    },
    "/api/internal/auth/signup": {
      "post": {
        "operationId": "signup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auth-controller"
        ]
      }
    },
    "/api/internal/auth/totp/register": {
      "post": {
        "operationId": "registerTotp",
        "parameters": [
          {
            "in": "header",
            "name": "X-Hangar-Verify",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/totp/remove": {
      "post": {
        "operationId": "removeTotp",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/totp/setup": {
      "post": {
        "operationId": "setupTotp",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotpSetupResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/totp/verify": {
      "post": {
        "operationId": "verifyTotp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/webauthn/assert": {
      "post": {
        "operationId": "prepareWebauthnLogin",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/webauthn/register": {
      "post": {
        "operationId": "registerWebauthn",
        "parameters": [
          {
            "in": "header",
            "name": "X-Hangar-Verify",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/webauthn/rename": {
      "post": {
        "operationId": "renameWebauthn",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/webauthn/setup": {
      "post": {
        "operationId": "setupWebauthn",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/auth/webauthn/unregister": {
      "post": {
        "operationId": "unregisterWebauthnDevice",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "credential-controller"
        ]
      }
    },
    "/api/internal/avatar/{type}/{subject}.webp": {
      "get": {
        "operationId": "getAvatar",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "subject",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "avatar-controller"
        ]
      }
    },
    "/api/internal/channels/checkColor": {
      "get": {
        "operationId": "checkColor",
        "parameters": [
          {
            "in": "query",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "color",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Color"
            }
          },
          {
            "in": "query",
            "name": "existingColor",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Color"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "channel-controller"
        ]
      }
    },
    "/api/internal/channels/checkName": {
      "get": {
        "operationId": "checkName",
        "parameters": [
          {
            "in": "query",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "existingName",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "channel-controller"
        ]
      }
    },
    "/api/internal/channels/{projectId}/create": {
      "post": {
        "operationId": "createChannel",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "channel-controller"
        ]
      }
    },
    "/api/internal/channels/{projectId}/edit": {
      "post": {
        "operationId": "editChannel",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditChannelForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "channel-controller"
        ]
      }
    },
    "/api/internal/channels/{project}": {
      "get": {
        "operationId": "getChannels",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HangarChannel"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "channel-controller"
        ]
      }
    },
    "/api/internal/channels/{project}/delete/{channel}": {
      "post": {
        "operationId": "deleteChannel",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "channel-controller"
        ]
      }
    },
    "/api/internal/data/categories": {
      "get": {
        "operationId": "getCategories",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryData"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/channelColors": {
      "get": {
        "operationId": "getColors",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ColorData"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/flagReasons": {
      "get": {
        "operationId": "getFlagReasons",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FlagReasonData"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/globalRoles": {
      "get": {
        "operationId": "getGlobalRoles",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleData"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/licenses": {
      "get": {
        "operationId": "getLicenses",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/loggedActions": {
      "get": {
        "operationId": "getLoggedActions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/organizationPermissions": {
      "get": {
        "operationId": "getOrganizationPermissionGroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermissionGroup"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/permissions": {
      "get": {
        "operationId": "getPermissions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermissionData"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/projectPermissions": {
      "get": {
        "operationId": "getProjectPermissionGroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermissionGroup"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/prompts": {
      "get": {
        "operationId": "getPrompts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PromptData"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/security": {
      "get": {
        "operationId": "getSecurity",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Security"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/validations": {
      "get": {
        "operationId": "getValidations",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validations"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/version-info": {
      "get": {
        "operationId": "info",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionInfo"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/data/visibilities": {
      "get": {
        "operationId": "getVisibilities",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VisibilityData"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "backend-data-controller"
        ]
      }
    },
    "/api/internal/discovery/daily": {
      "get": {
        "operationId": "daily",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectCompact"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "discovery-controller"
        ]
      }
    },
    "/api/internal/discovery/exclude/{projectId}": {
      "post": {
        "operationId": "exclude",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "discovery-controller"
        ]
      }
    },
    "/api/internal/discovery/excluded": {
      "get": {
        "operationId": "excluded",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExcludedProject"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "discovery-controller"
        ]
      }
    },
    "/api/internal/discovery/include/{projectId}": {
      "post": {
        "operationId": "include",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "discovery-controller"
        ]
      }
    },
    "/api/internal/flags/": {
      "post": {
        "operationId": "flag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlagForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "flag-controller"
        ]
      }
    },
    "/api/internal/flags/resolved": {
      "get": {
        "operationId": "getResolvedFlags",
        "parameters": [
          {
            "description": "Used to sort the result",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "flagResolved",
                "flagCreated"
              ]
            },
            "style": "form"
          },
          {
            "description": "The maximum amount of items to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1",
              "maximum": 25,
              "minimum": 1
            },
            "style": "form"
          },
          {
            "description": "Where to start searching",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0",
              "minimum": 0
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultHangarProjectFlag"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "flag-controller"
        ]
      }
    },
    "/api/internal/flags/unresolved": {
      "get": {
        "operationId": "getUnresolvedFlags",
        "parameters": [
          {
            "description": "Used to sort the result",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "flagCreated"
              ]
            },
            "style": "form"
          },
          {
            "description": "The maximum amount of items to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1",
              "maximum": 25,
              "minimum": 1
            },
            "style": "form"
          },
          {
            "description": "Where to start searching",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0",
              "minimum": 0
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultHangarProjectFlag"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "flag-controller"
        ]
      }
    },
    "/api/internal/flags/unresolvedamount": {
      "get": {
        "operationId": "getUnresolvedFlagsQueueSize",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "flag-controller"
        ]
      }
    },
    "/api/internal/flags/{id}/notifications": {
      "get": {
        "operationId": "getNotifications",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HangarProjectFlagNotification"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "flag-controller"
        ]
      }
    },
    "/api/internal/flags/{id}/notify": {
      "post": {
        "operationId": "notifyReportParty",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportNotificationForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "flag-controller"
        ]
      }
    },
    "/api/internal/flags/{id}/resolve/{resolve}": {
      "post": {
        "operationId": "resolve",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "resolve",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "flag-controller"
        ]
      }
    },
    "/api/internal/flags/{slug}": {
      "get": {
        "operationId": "getFlags",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HangarProjectFlag"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "flag-controller"
        ]
      }
    },
    "/api/internal/globalData/": {
      "get": {
        "operationId": "getGlobalData",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalData"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "global-data-controller"
        ]
      }
    },
    "/api/internal/globalData/announcements": {
      "get": {
        "operationId": "getAnnouncements",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnnouncementTable"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "global-data-controller"
        ]
      },
      "post": {
        "operationId": "updateAnnouncements",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AnnouncementTable"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "global-data-controller"
        ]
      }
    },
    "/api/internal/globalData/notifications": {
      "get": {
        "operationId": "getGlobalNotifications",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalNotificationTable"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "global-data-controller"
        ]
      },
      "post": {
        "operationId": "updateGlobalNotifications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GlobalNotificationTable"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "global-data-controller"
        ]
      }
    },
    "/api/internal/globalData/platformVersions": {
      "post": {
        "operationId": "updatePlatformVersions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlatformVersionsForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "global-data-controller"
        ]
      }
    },
    "/api/internal/health/": {
      "get": {
        "operationId": "get",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinishedOrPendingHealthReport"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "health-controller"
        ]
      }
    },
    "/api/internal/health/queue": {
      "post": {
        "operationId": "queue",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "health-controller"
        ]
      }
    },
    "/api/internal/health/retry/{jobId}": {
      "post": {
        "operationId": "retryJob",
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "health-controller"
        ]
      }
    },
    "/api/internal/image/**": {
      "get": {
        "operationId": "proxy",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "image-proxy-controller"
        ]
      }
    },
    "/api/internal/invites": {
      "get": {
        "operationId": "getUserInvites",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invites"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      },
      "post": {
        "operationId": "getUserInvites",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invites"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      }
    },
    "/api/internal/invites/organization/{id}/{status}": {
      "get": {
        "operationId": "updateOrganizationInviteStatus",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "status",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InviteStatus"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      },
      "post": {
        "operationId": "updateOrganizationInviteStatus",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "status",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InviteStatus"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      }
    },
    "/api/internal/invites/project/{id}/{status}": {
      "get": {
        "operationId": "updateProjectInviteStatus",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "status",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InviteStatus"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      },
      "post": {
        "operationId": "updateProjectInviteStatus",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "status",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InviteStatus"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      }
    },
    "/api/internal/jarscanning/mark-all-safe/{resultId}": {
      "post": {
        "operationId": "markSafeAll",
        "parameters": [
          {
            "in": "path",
            "name": "resultId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "jar-scanning-controller"
        ]
      }
    },
    "/api/internal/jarscanning/mark-safe/{entryId}": {
      "post": {
        "operationId": "markSafe",
        "parameters": [
          {
            "in": "path",
            "name": "entryId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "jar-scanning-controller"
        ]
      }
    },
    "/api/internal/jarscanning/result/{versionId}": {
      "get": {
        "operationId": "getResults",
        "parameters": [
          {
            "in": "path",
            "name": "versionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JarScanResult"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "jar-scanning-controller"
        ]
      }
    },
    "/api/internal/jarscanning/result/{versionId}/{platform}": {
      "get": {
        "operationId": "getResult",
        "parameters": [
          {
            "in": "path",
            "name": "versionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "platform",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Platform"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JarScanResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "jar-scanning-controller"
        ]
      }
    },
    "/api/internal/jarscanning/scan/{versionId}/{platform}": {
      "post": {
        "operationId": "scan",
        "parameters": [
          {
            "in": "path",
            "name": "versionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "platform",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Platform"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "jar-scanning-controller"
        ]
      }
    },
    "/api/internal/markallread": {
      "get": {
        "operationId": "markNotificationAsRead",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      },
      "post": {
        "operationId": "markNotificationAsRead",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      }
    },
    "/api/internal/meili/webhook": {
      "post": {
        "operationId": "handle",
        "requestBody": {
          "content": {
            "application/x-ndjson": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "meili-webhook-controller"
        ]
      }
    },
    "/api/internal/notifications": {
      "get": {
        "operationId": "getNotifications",
        "parameters": [
          {
            "description": "The maximum amount of items to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1",
              "maximum": 25,
              "minimum": 1
            },
            "style": "form"
          },
          {
            "description": "Where to start searching",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0",
              "minimum": 0
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultHangarNotification"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      },
      "post": {
        "operationId": "getNotifications",
        "parameters": [
          {
            "description": "The maximum amount of items to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1",
              "maximum": 25,
              "minimum": 1
            },
            "style": "form"
          },
          {
            "description": "Where to start searching",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0",
              "minimum": 0
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultHangarNotification"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      }
    },
    "/api/internal/notifications/{id}": {
      "get": {
        "operationId": "markNotificationAsRead",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      },
      "post": {
        "operationId": "markNotificationAsRead",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "hangar-user-controller"
        ]
      }
    },
    "/api/internal/oauth/register": {
      "post": {
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthSignupForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthSignupResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "o-auth-controller"
        ]
      }
    },
    "/api/internal/oauth/{provider}/callback": {
      "get": {
        "operationId": "callback",
        "parameters": [
          {
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "error",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "error_description",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "o-auth-controller"
        ]
      }
    },
    "/api/internal/oauth/{provider}/login": {
      "get": {
        "operationId": "login",
        "parameters": [
          {
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OAuthMode"
            }
          },
          {
            "in": "query",
            "name": "returnUrl",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "o-auth-controller"
        ]
      }
    },
    "/api/internal/oauth/{provider}/unlink/{id}": {
      "post": {
        "operationId": "unlink",
        "parameters": [
          {
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "o-auth-controller"
        ]
      }
    },
    "/api/internal/onboarding/createUser": {
      "post": {
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "onboarding-controller"
        ]
      }
    },
    "/api/internal/onboarding/generateE2EData": {
      "get": {
        "operationId": "generateE2EData",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "onboarding-controller"
        ]
      }
    },
    "/api/internal/onboarding/generateFakeData": {
      "get": {
        "operationId": "generateFakeData",
        "parameters": [
          {
            "in": "query",
            "name": "users",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "projectsPerUser",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "onboarding-controller"
        ]
      }
    },
    "/api/internal/organizations/create": {
      "post": {
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}": {
      "get": {
        "operationId": "getOrganization",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HangarOrganization"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/canceltransfer": {
      "post": {
        "operationId": "cancelOrganizationTransfer",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/delete": {
      "post": {
        "operationId": "delete",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/members/add": {
      "post": {
        "operationId": "addOrganizationMember",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/members/edit": {
      "post": {
        "operationId": "editOrganizationMember",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/members/leave": {
      "post": {
        "operationId": "leaveOrganization",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/members/remove": {
      "post": {
        "operationId": "removeOrganizationMember",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/settings/avatar": {
      "post": {
        "operationId": "changeAvatar",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "avatar"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/settings/socials": {
      "post": {
        "operationId": "saveSocials",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/settings/tagline": {
      "post": {
        "operationId": "saveTagline",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/org/{org}/transfer": {
      "post": {
        "operationId": "transferOrganization",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/validate": {
      "get": {
        "operationId": "validateName",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/{org}/userOrganizationsVisibility": {
      "post": {
        "operationId": "changeUserOrganizationMembershipVisibility",
        "parameters": [
          {
            "in": "query",
            "name": "hidden",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "path",
            "name": "org",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/{user}/userOrganizations": {
      "get": {
        "operationId": "getUserOrganizationRoles",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/OrganizationRoleTable"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/organizations/{user}/userOrganizationsVisibility": {
      "get": {
        "operationId": "getUserOrganizationMembershipVisibility",
        "parameters": [
          {
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "boolean"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "organization-controller"
        ]
      }
    },
    "/api/internal/pages/checkName": {
      "get": {
        "operationId": "checkName",
        "parameters": [
          {
            "in": "query",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "parentId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "project-page-controller"
        ]
      }
    },
    "/api/internal/pages/convert-bbcode": {
      "post": {
        "operationId": "convertBBCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/plain;charset=UTF-8": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "project-page-controller"
        ]
      }
    },
    "/api/internal/pages/create/{projectId}": {
      "post": {
        "operationId": "createProjectPage",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProjectPage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "project-page-controller"
        ]
      }
    },
    "/api/internal/pages/delete/{projectId}/{pageId}": {
      "post": {
        "operationId": "deleteProjectPage",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "project-page-controller"
        ]
      }
    },
    "/api/internal/pages/list/{projectId}": {
      "get": {
        "operationId": "listProjectPages",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
[...]
