:root {
  --vp-c-brand-1: #5a88e5;
  --vp-c-brand-2: #6090f1;
  --vp-c-brand-3: #709cf2;
  --vp-c-brand-soft: #709cf224;
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}

.dark {
  --vp-c-brand-1: #5a88e5;
  --vp-c-brand-2: #6090f1;
  --vp-c-brand-3: #709cf2;
  --vp-c-brand-soft: #709cf22e;
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}
